@import "react-toastify/dist/ReactToastify.css";

.flex-display-register {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.title {
    color: #d2afff;
}

.main-window {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
  align-items: center;
  overflow: hidden;
}

.right-panel {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

button.btn-start {
  height: fit-content;
  border-width: 3px;
  margin: 5px;
  grid-column: 1;
  animation: linear 7s infinite border-color-anim;
}

@keyframes border-color-anim {
  0% {
    border-color: #25d3d3;
  }
  12% {
    border-color: #fda931;
  }
  25% {
    border-color: #fefd40;
  }
  50% {
    border-color: #15fc36;
  }
  75% {
    border-color: #1b29f9;
  }
  87% {
    border-color: #9a2cfa;
  }
  100% {
     border-color: #25d3d3;
   }
}
