.spectras {
  display: grid;
  justify-content: flex-start;
  grid-template-columns: repeat(3,1fr);
  overflow-y: scroll;
  padding: 5px;
  border-radius: 5px;
  border-width: 3px;
  border-style: solid;
  max-height: 60%;
  animation: linear 7s infinite border-color-anim;
}

.spectra {
  border-width: 1px;
  border-style: solid;
  animation: linear 7s infinite border-color-anim;
  border-radius: 5px;
  height: fit-content;
  width: 100px;
  margin: 2px;
}

.spectra-username {
  margin: 0;
  text-align: center;
  background: aqua;
  color: black;
}