.cell {
  /*height: 25px;
  width: 25px;*/
}

.row {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.board {
  border: 6px solid white;
  grid-column: 2;
  height: 600px;
  width: 300px;
  display: grid;
}

.square {
  height: inherit;
}

.full {
  border-style: outset;
  border-width: 5px;
}

.empty {
  border: 5px solid transparent;
}